<!-- Portfolio -->
<div id ="portfolio" class="content-section-a">

  <div class="container">

    <div class="content-section-b">

      <div class="container">
        <div class="row">
          <div class="col-sm-6 wow fadeInLeftBig">
            <div id="owl-demo-1" class="owl-carousel">
                <%= link_to image_tag("second.jpg", style: "display: hidden;"),  image_path('second.jpg'), class: "image-link" %>

                <%= link_to image_tag("duck.jpg"),  image_path('duck.jpg'), class: "image-link" %>

                <%= link_to image_tag("dash.jpg"),  image_path('dash.jpg'), class: "image-link" %>

                <%= link_to image_tag("board.jpg"),  image_path('board.jpg'), class: "image-link" %>

                <%= link_to image_tag("dashboard.jpg"),  image_path('dashboard.jpg'), class: "image-link" %>

            </div>
          </div>

          <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
            <h3 class="section-heading">Gallery</h3>
            <div class="sub-title lead3">Swipe or Drag<br> To see current projects</div>
            <p class="lead">
              These include personal, hobby, and company projects. All responsive websites and web applications.
              More in the works...and coming soon!
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- /.container -->
</div>
