<!-- Screenshot -->
<div id="screen" class="content-section-b">
  <div class="container">
    <div class="row" >
      <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
        <h2>Phone Apps</h2>
      </div>
    </div>
    <div class="row wow bounceInUp" >
      <div id="owl-demo" class="owl-carousel">

        <a href="../assets/images/slide/scan1.png" class="image-link">
          <div class="item">
            <!-- <img  class="img-responsive img-rounded" src="../assets/images/slide/scan1.png" alt="Owl Image"> -->
            <%= image_tag("slide/scan1.png", class:"img-responsive img-rounded") %>
          </div>
        </a>

        <a href="../assets/images/slide/scan2.png" class="image-link">
          <div class="item">
            <!-- <img  class="img-responsive img-rounded" src="../assets/images/slide/scan2.png" alt="Owl Image"> -->
            <%= image_tag("slide/scan2.png", class:"img-responsive img-rounded") %>
          </div>
        </a>

        <a href="../assets/images/slide/scan3.png" class="image-link">
          <div class="item">
            <!-- <img  class="img-responsive img-rounded" src="../assets/images/slide/scan3.png" alt="Owl Image"> -->
            <%= image_tag("slide/scan3.png", class:"img-responsive img-rounded") %>
          </div>
        </a>

        <a href="../assets/images/slide/scan4.png" class="image-link">
          <div class="item">
            <!-- <img  class="img-responsive img-rounded" src="../assets/images/slide/scan4.png" alt="Owl Image"> -->
            <%= image_tag("slide/scan4.png", class:"img-responsive img-rounded") %>
          </div>
        </a>

        <a href="../assets/images/slide/logout.png" class="image-link">
          <div class="item">
            <!-- <img  class="img-responsive img-rounded" src="../assets/images/slide/logout.png" alt="Owl Image"> -->
            <%= image_tag("slide/logout.png", class:"img-responsive img-rounded") %>
          </div>
        </a>
      </div>
    </div>
  </div>


</div>
