<!-- Skills -->
<div id="skills" class="content-section-b" style="border-top: 0">
  <div class="container">

    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
      <h2>Skills</h2>
      <p class="lead" style="margin-top:0">Only obtained through self-improvement.</p>

    </div>

    <div class="row">

      <div class="col-sm-4 wow fadeInDown text-center">
        <!-- <img  class="rotate" src="../assets/images/icon/ruby_rails.png" style="width: 100px; height: 100px;" alt="Generic placeholder image"> -->
        <%= image_tag("icon/ruby_rails.png", class:"rotate", size: '100') %>
        <h3>Ruby on Rails</h3>
        <!-- <p class="lead">Over a year developing with Ruby on Rails and MVC Architechture </p> -->
        <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 wow fadeInDown text-center">
        <!-- <img class="rotate" src="../assets/images/icon/html_5.png" style="width: 100px; height: 100px;" alt="Generic placeholder image"> -->
        <%= image_tag("icon/html_5.png", class:"rotate", size: '100') %>
        <h3>HTML</h3>
        <!-- <p class="lead">Ample HTML 5 knowledge </p> -->

        <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 wow fadeInDown text-center">
        <!-- <img  class="rotate" src="../assets/images/icon/css_3.png" style="width: 100px; height: 100px;" alt="Generic placeholder image"> -->
        <%= image_tag("icon/css_3.png", class:"rotate", size: '100') %>
         <h3>CSS</h3>
         <!-- <p class="lead"> CSS 3 and Sass preprocessor </p> -->
         <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->


    </div><!-- /.row -->

    <div class="row tworow">

      <div class="col-sm-4  wow fadeInDown text-center">
        <!-- <img class="rotate" src="../assets/images/icon/javascript.png" style="width: 100px; height: 100px;" alt="Generic placeholder image"> -->
        <%= image_tag("icon/javascript.png", class:"rotate", size: '100') %>
        <h3>Javascript</h3>
        <!-- <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p> -->
       <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 wow fadeInDown text-center">
        <!-- <img  class="rotate" src="../assets/images/icon/java.png" style="width: 100px; height: 100px;" alt="Generic placeholder image"> -->
        <%= image_tag("icon/java.png", class:"rotate", size: '100') %>
         <h3>Java</h3>
         <!-- <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p> -->
         <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 wow fadeInDown text-center">
        <!-- <img  class="rotate" src="../assets/images/icon/browser.svg" alt="Generic placeholder image"> -->
        <%= image_tag("icon/browser.svg", class:"rotate", size: '100') %>
         <h3>Bootstrap</h3>
       <!-- <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p> -->
        <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row tworow">

      <div class="col-sm-4 wow fadeInDown text-center">
        <!-- <img  class="rotate" src="../assets/images/icon/c.png" style="width: 100px; height: 100px;" alt="Generic placeholder image"> -->
        <%= image_tag("icon/c.png", class:"rotate", size: '100') %>
         <h3>C/C ++</h3>
         <!-- <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p> -->
         <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->

      <div class="col-sm-4 wow fadeInDown text-center">
        <!-- <img  class="rotate" src="../assets/images/icon/angular2.png" style="width: 100px; height: 100px;" alt="Generic placeholder image"> -->
        <%= image_tag("icon/angular2.png", class:"rotate", size: '100') %>
         <h3>Angular 2</h3>
         <!-- <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p> -->
         <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div>

  </div>
</div>
